# GradeR

In [ ]:
# Importing Drive

from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Setting Path

import os
os.chdir('/content/drive/My Drive/GradeR')
os.getcwd()

In [1]:
# Importing pandas

import pandas as pd

In [2]:
# Importing the excel file

data = pd.read_excel(r"C:\Users\Heman\Music\GradeR-master\cse.xlsx")
data

,ROLL,CODE,SUBJECT,GRADE,CREDIT
0,166M1A0501,R1641051,CRYPTOGRAPHY AND NETWORK SECURITY (COMM,F,0
1,166M1A0501,R1641052,SOFTWARE ARCHITECTURE & DEISGN PATTERNS,D,3
2,166M1A0501,R1641053,WEB TECHNOLOGIES,F,0
3,166M1A0501,R1641054,MANAGERIAL ECONOMICS AND FINANCIAL ANALY,F,0
4,166M1A0501,R1641057,SOFTWARE ARCHITECURES & DESIGN PATTERNS,A,2
5,166M1A0501,R1641058,WEB TECHNOLOGIES LAB,O,2
6,166M1A0501,R164105A,"BIG DATA ANALYSIS(COMMON TO CSE,IT)",F,0
7,166M1A0501,R164105D,"CLOUD COMPUTING(COMMON TO CSE,IT)",F,0
8,166M1A0502,R1641051,CRYPTOGRAPHY AND NETWORK SECURITY (COMM,D,3
9,166M1A0502,R1641052,SOFTWARE ARCHITECTURE & DEISGN PATTERNS,C,3
10,166M1A0502,R1641053,WEB TECHNOLOGIES,D,3
11,166M1A0502,R1641054,MANAGERIAL ECONOMICS AND FINANCIAL ANALY,C,3
12,166M1A0502,R1641057,SOFTWARE ARCHITECURES & DESIGN PATTERNS,S,2
13,166M1A0502,R1641058,WEB TECHNOLOGIES LAB,O,2
14,166M1A0502,R164105A,"BIG DATA ANALYSIS(COMMON TO CSE,IT)",C,3
15,166M1A0502,R164105D,"CLOUD COMPUTING(COMMON TO CSE,IT)",B,3
16,166M1A0503,R1641051,CRYPTOGRAPHY AND NETWORK SECURITY (COMM,B,3
17,166M1A0503,R1641052,SOFTWARE ARCHITECTURE & DEISGN PATTERNS,C,3
18,166M1A0503,R1641053,WEB TECHNOLOGIES,C,3
19,166M1A0503,R1641054,MANAGERIAL ECONOMICS AND FINANCIAL ANALY,A,3
20,166M1A0503,R1641057,SOFTWARE ARCHITECURES & DESIGN PATTERNS,S,2
21,166M1A0503,R1641058,WEB TECHNOLOGIES LAB,O,2
22,166M1A0503,R164105A,"BIG DATA ANALYSIS(COMMON TO CSE,IT)",B,3
23,166M1A0503,R164105D,"CLOUD COMPUTING(COMMON TO CSE,IT)",C,3
24,166M1A0504,R1641051,CRYPTOGRAPHY AND NETWORK SECURITY (COMM,C,3
25,166M1A0504,R1641052,SOFTWARE ARCHITECTURE & DEISGN PATTERNS,C,3
26,166M1A0504,R1641053,WEB TECHNOLOGIES,C,3
27,166M1A0504,R1641054,MANAGERIAL ECONOMICS AND FINANCIAL ANALY,C,3
28,166M1A0504,R1641057,SOFTWARE ARCHITECURES & DESIGN PATTERNS,S,2
29,166M1A0504,R1641058,WEB TECHNOLOGIES LAB,O,2
...,...,...,...,...,...
442,166M1A0557,R1641053,WEB TECHNOLOGIES,D,3
443,166M1A0557,R1641054,MANAGERIAL ECONOMICS AND FINANCIAL ANALY,D,3
444,166M1A0557,R1641057,SOFTWARE ARCHITECURES & DESIGN PATTERNS,S,2
445,166M1A0557,R1641058,WEB TECHNOLOGIES LAB,O,2
446,166M1A0557,R164105A,"BIG DATA ANALYSIS(COMMON TO CSE,IT)",F,0
447,166M1A0557,R164105D,"CLOUD COMPUTING(COMMON TO CSE,IT)",D,3
448,166M1A0558,R1641051,CRYPTOGRAPHY AND NETWORK SECURITY (COMM,F,0
449,166M1A0558,R1641052,SOFTWARE ARCHITECTURE & DEISGN PATTERNS,C,3
450,166M1A0558,R1641053,WEB TECHNOLOGIES,C,3
451,166M1A0558,R1641054,MANAGERIAL ECONOMICS AND FINANCIAL ANALY,D,3
452,166M1A0558,R1641057,SOFTWARE ARCHITECURES & DESIGN PATTERNS,B,2
453,166M1A0558,R1641058,WEB TECHNOLOGIES LAB,S,2
454,166M1A0558,R164105A,"BIG DATA ANALYSIS(COMMON TO CSE,IT)",D,3
455,166M1A0558,R164105D,"CLOUD COMPUTING(COMMON TO CSE,IT)",F,0
456,166M1A0559,R1641051,CRYPTOGRAPHY AND NETWORK SECURITY (COMM,B,3
457,166M1A0559,R1641052,SOFTWARE ARCHITECTURE & DEISGN PATTERNS,A,3
458,166M1A0559,R1641053,WEB TECHNOLOGIES,B,3
459,166M1A0559,R1641054,MANAGERIAL ECONOMICS AND FINANCIAL ANALY,B,3
460,166M1A0559,R1641057,SOFTWARE ARCHITECURES & DESIGN PATTERNS,O,2
461,166M1A0559,R1641058,WEB TECHNOLOGIES LAB,O,2
462,166M1A0559,R164105A,"BIG DATA ANALYSIS(COMMON TO CSE,IT)",C,3
463,166M1A0559,R164105D,"CLOUD COMPUTING(COMMON TO CSE,IT)",A,3
464,166M1A0560,R1641051,CRYPTOGRAPHY AND NETWORK SECURITY (COMM,B,3
465,166M1A0560,R1641052,SOFTWARE ARCHITECTURE & DEISGN PATTERNS,D,3
466,166M1A0560,R1641053,WEB TECHNOLOGIES,D,3
467,166M1A0560,R1641054,MANAGERIAL ECONOMICS AND FINANCIAL ANALY,D,3
468,166M1A0560,R1641057,SOFTWARE ARCHITECURES & DESIGN PATTERNS,S,2
469,166M1A0560,R1641058,WEB TECHNOLOGIES LAB,O,2
470,166M1A0560,R164105A,"BIG DATA ANALYSIS(COMMON TO CSE,IT)",C,3
471,166M1A0560,R164105D,"CLOUD COMPUTING(COMMON TO CSE,IT)",D,3

In [3]:
# Extracting Columns


# Extracting Unique Rollnumbers 
roll_no = data.ROLL.unique()

#Extracting grades of the subjects 
R1641051 = data['GRADE'][0:473:8].tolist()
R1641052 = data['GRADE'][1:473:8].tolist()
R1641053 = data['GRADE'][2:473:8].tolist()
R1641054 = data['GRADE'][3:473:8].tolist()
R1641057 = data['GRADE'][4:473:8].tolist()
R1641058 = data['GRADE'][5:473:8].tolist()
R164105A = data['GRADE'][6:473:8].tolist()
R164105D = data['GRADE'][7:473:8].tolist()

# Replacing Grades to int // helps us to find credit
for n, i in enumerate(R1641051):
    if i == 'O':R1641051[n] = 10
    if i == 'S':R1641051[n] = 9
    if i == 'A':R1641051[n] = 8
    if i == 'B':R1641051[n] = 7
    if i == 'C':R1641051[n] = 6
    if i == 'D':R1641051[n] = 5
    if i == 'F':R1641051[n] = 0
for n, i in enumerate(R1641052):
    if i == 'O':R1641052[n] = 10
    if i == 'S':R1641052[n] = 9
    if i == 'A':R1641052[n] = 8
    if i == 'B':R1641052[n] = 7
    if i == 'C':R1641052[n] = 6
    if i == 'D':R1641052[n] = 5
    if i == 'F':R1641052[n] = 0
for n, i in enumerate(R1641053):
    if i == 'O':R1641053[n] = 10
    if i == 'S':R1641053[n] = 9
    if i == 'A':R1641053[n] = 8
    if i == 'B':R1641053[n] = 7
    if i == 'C':R1641053[n] = 6
    if i == 'D':R1641053[n] = 5
    if i == 'F':R1641053[n] = 0
for n, i in enumerate(R1641054):
    if i == 'O':R1641054[n] = 10
    if i == 'S':R1641054[n] = 9
    if i == 'A':R1641054[n] = 8
    if i == 'B':R1641054[n] = 7
    if i == 'C':R1641054[n] = 6
    if i == 'D':R1641054[n] = 5
    if i == 'F':R1641054[n] = 0
for n, i in enumerate(R1641057):
    if i == 'O':R1641057[n] = 10
    if i == 'S':R1641057[n] = 9
    if i == 'A':R1641057[n] = 8
    if i == 'B':R1641057[n] = 7
    if i == 'C':R1641057[n] = 6
    if i == 'D':R1641057[n] = 5
    if i == 'F':R1641057[n] = 0
for n, i in enumerate(R1641058):
    if i == 'O':R1641058[n] = 10
    if i == 'S':R1641058[n] = 9
    if i == 'A':R1641058[n] = 8
    if i == 'B':R1641058[n] = 7
    if i == 'C':R1641058[n] = 6
    if i == 'D':R1641058[n] = 5
    if i == 'F':R1641058[n] = 0
for n, i in enumerate(R164105A):
    if i == 'O':R164105A[n] = 10
    if i == 'S':R164105A[n] = 9
    if i == 'A':R164105A[n] = 8
    if i == 'B':R164105A[n] = 7
    if i == 'C':R164105A[n] = 6
    if i == 'D':R164105A[n] = 5
    if i == 'F':R164105A[n] = 0
for n, i in enumerate(R164105D):
    if i == 'O':R164105D[n] = 10
    if i == 'S':R164105D[n] = 9
    if i == 'A':R164105D[n] = 8
    if i == 'B':R164105D[n] = 7
    if i == 'C':R164105D[n] = 6
    if i == 'D':R164105D[n] = 5
    if i == 'F':R164105D[n] = 0

# Grades are Extracted 
grades = data['GRADE'].tolist()
credits = data['CREDIT'].tolist()
for n,i in enumerate(grades):
    if i == 'O':grades[n] = 10
    if i == 'S':grades[n] = 9
    if i == 'A':grades[n] = 8
    if i == 'B':grades[n] = 7
    if i == 'C':grades[n] = 6
    if i == 'D':grades[n] = 5
    if i == 'F':grades[n] = 0

In [ ]:
#Credits Grade Sum

sgc = []

for i in range(0,len(grades)):
    total = 0
    prod = 1
    prod = grades[i]*credits[i]
    total = total+prod
    sgc.append(total)
print(sgc)

[0, 15, 0, 0, 16, 20, 0, 0, 15, 18, 15, 18, 18, 20, 18, 21, 21, 18, 18, 24, 18, 20, 21, 18, 18, 18, 18, 18, 18, 20, 18, 18, 0, 21, 21, 21, 18, 18, 15, 15, 18, 18, 21, 15, 18, 20, 18, 24, 21, 15, 21, 21, 18, 20, 15, 18, 15, 15, 0, 15, 16, 20, 18, 15, 0, 18, 0, 18, 16, 20, 0, 15, 15, 18, 21, 18, 18, 20, 15, 18, 18, 0, 15, 18, 14, 20, 0, 0, 18, 18, 24, 0, 16, 20, 18, 15, 15, 21, 18, 18, 16, 20, 18, 18, 18, 18, 18, 21, 16, 20, 18, 21, 24, 21, 15, 24, 18, 20, 21, 18, 18, 21, 21, 18, 18, 20, 15, 18, 15, 18, 15, 15, 16, 18, 15, 0, 15, 15, 15, 15, 14, 18, 15, 18, 27, 21, 21, 24, 20, 20, 21, 21, 18, 18, 18, 15, 18, 20, 15, 18, 15, 24, 18, 0, 16, 20, 18, 15, 18, 18, 15, 18, 18, 20, 21, 24, 21, 18, 18, 21, 20, 20, 18, 18, 21, 24, 24, 18, 20, 20, 21, 21, 18, 24, 21, 18, 18, 20, 18, 18, 18, 21, 18, 18, 18, 20, 21, 24, 24, 0, 15, 18, 18, 20, 18, 18, 18, 18, 15, 15, 16, 20, 0, 15, 0, 18, 15, 0, 16, 20, 0, 0, 15, 18, 15, 18, 16, 18, 0, 18, 24, 0, 15, 18, 18, 20, 21, 15, 18, 21, 0, 15, 18, 20, 18, 15, 0, 21, 15, 15, 16, 20, 0, 0, 15, 18, 15, 18, 18, 20, 0, 18, 27, 18, 18, 21, 18, 20, 21, 18, 18, 15, 0, 15, 18, 20, 15, 15, 15, 24, 18, 18, 20, 20, 18, 0, 21, 21, 18, 21, 20, 20, 18, 21, 15, 0, 0, 15, 18, 20, 0, 15, 18, 24, 18, 15, 18, 20, 18, 15, 0, 21, 15, 15, 18, 20, 15, 15, 24, 18, 21, 21, 18, 20, 18, 21, 24, 21, 18, 21, 20, 20, 18, 21, 24, 24, 21, 18, 18, 20, 21, 21, 15, 18, 15, 15, 18, 20, 15, 0, 21, 21, 18, 21, 20, 20, 21, 24, 21, 18, 21, 18, 20, 20, 15, 18, 21, 27, 21, 18, 20, 20, 21, 24, 18, 24, 21, 21, 18, 20, 15, 15, 18, 18, 15, 18, 18, 20, 15, 24, 21, 18, 18, 18, 18, 20, 18, 18, 15, 18, 0, 15, 16, 20, 15, 0, 15, 15, 15, 0, 18, 20, 0, 0, 18, 18, 15, 18, 18, 20, 15, 21, 24, 18, 18, 18, 18, 20, 18, 18, 15, 18, 15, 15, 18, 20, 0, 15, 0, 18, 18, 15, 14, 18, 15, 0, 21, 24, 21, 21, 20, 20, 18, 24, 21, 15, 15, 15, 18, 20, 18, 15]

In [ ]:
# GPA Total

gpa = []
for i in range(0,len(sgc),8):
    total = 0
    for j in range(i,i+8):
        total = total + sgc[j]
    gpa.append(total)
gpa = [x / 22 for x in gpa]

In [ ]:
# DATA FRAME 

data = {'ROLL_NO' :roll_no,
        'R1641051':R1641051,
        'R1641052':R1641052,
        'R1641053':R1641053,
        'R1641054':R1641054,
        'R1641057':R1641057,
        'R1641058':R1641058,
        'R164105A':R164105A, 
        'R164105D':R164105D,
        'GPA':gpa}
data = pd.DataFrame(data)
data

,ROLL_NO,R1641051,R1641052,R1641053,R1641054,R1641057,R1641058,R164105A,R164105D,GPA
0,166M1A0501,0,5,0,0,8,10,0,0,2.318182
1,166M1A0502,5,6,5,6,9,10,6,7,6.500000
2,166M1A0503,7,6,6,8,9,10,7,6,7.181818
3,166M1A0504,6,6,6,6,9,10,6,6,6.636364
4,166M1A0505,0,7,7,7,9,9,5,5,5.863636
5,166M1A0506,6,6,7,5,9,10,6,8,6.909091
6,166M1A0507,7,5,7,7,9,10,5,6,6.772727
7,166M1A0508,5,5,0,5,8,10,6,5,5.181818
8,166M1A0509,0,6,0,6,8,10,0,5,3.954545
9,166M1A0510,5,6,7,6,9,10,5,6,6.500000
10,166M1A0511,6,0,5,6,7,10,0,0,3.863636
11,166M1A0512,6,6,8,0,8,10,6,5,5.863636
12,166M1A0513,5,7,6,6,8,10,6,6,6.545455
13,166M1A0514,6,6,6,7,8,10,6,7,6.818182
14,166M1A0515,8,7,5,8,9,10,7,6,7.318182
15,166M1A0516,6,7,7,6,9,10,5,6,6.772727
16,166M1A0517,5,6,5,5,8,9,5,0,5.090909
17,166M1A0518,5,5,5,5,7,9,5,6,5.681818
18,166M1A0519,9,7,7,8,10,10,7,7,7.954545
19,166M1A0520,6,6,6,5,9,10,5,6,6.363636
20,166M1A0521,5,8,6,0,8,10,6,5,5.727273
21,166M1A0522,6,6,5,6,9,10,7,8,6.909091
22,166M1A0523,7,6,6,7,10,10,6,6,7.000000
23,166M1A0524,7,8,8,6,10,10,7,7,7.681818
24,166M1A0525,6,8,7,6,9,10,6,6,7.045455
25,166M1A0526,6,7,6,6,9,10,7,8,7.181818
26,166M1A0527,8,0,5,6,9,10,6,6,5.954545
27,166M1A0528,6,6,5,5,8,10,0,5,5.318182
28,166M1A0529,0,6,5,0,8,10,0,0,3.136364
29,166M1A0530,5,6,5,6,8,9,0,6,5.363636
30,166M1A0531,8,0,5,6,9,10,7,5,5.954545
31,166M1A0532,6,7,0,5,9,10,6,5,5.681818
32,166M1A0533,0,7,5,5,8,10,0,0,3.954545
33,166M1A0534,5,6,5,6,9,10,0,6,5.545455
34,166M1A0535,9,6,6,7,9,10,7,6,7.318182
35,166M1A0536,6,5,0,5,9,10,5,5,5.272727
36,166M1A0537,5,8,6,6,10,10,6,0,6.045455
37,166M1A0538,7,7,6,7,10,10,6,7,7.272727
38,166M1A0539,5,0,0,5,9,10,0,5,3.772727
39,166M1A0540,6,8,6,5,9,10,6,5,6.636364
40,166M1A0541,0,7,5,5,9,10,5,5,5.409091
41,166M1A0542,8,6,7,7,9,10,6,7,7.318182
42,166M1A0543,8,7,6,7,10,10,6,7,7.409091
43,166M1A0545,8,8,7,6,9,10,7,7,7.590909
44,166M1A0546,5,6,5,5,9,10,5,0,5.272727
45,166M1A0547,7,7,6,7,10,10,7,8,7.545455
46,166M1A0548,7,6,7,6,10,10,5,6,6.863636
47,166M1A0549,7,9,7,6,10,10,7,8,7.818182
48,166M1A0550,6,8,7,7,9,10,5,5,6.909091
49,166M1A0551,6,6,5,6,9,10,5,8,6.636364
50,166M1A0552,7,6,6,6,9,10,6,6,6.772727
51,166M1A0553,5,6,0,5,8,10,5,0,4.500000
52,166M1A0554,5,5,5,0,9,10,0,0,3.772727
53,166M1A0555,6,6,5,6,9,10,5,7,6.500000
54,166M1A0556,8,6,6,6,9,10,6,6,6.909091
55,166M1A0557,5,6,5,5,9,10,0,5,5.272727
56,166M1A0558,0,6,6,5,7,9,5,0,4.454545
57,166M1A0559,7,8,7,7,10,10,6,8,7.681818
58,166M1A0560,7,5,5,5,9,10,6,5,6.227273

In [ ]:
# TAKING INPUT FROM USER

inp = input()
print("------------------------------------------------------")
rol = data.loc[data['ROLL_NO'] == inp].ROLL_NO.to_string()
cns = data.loc[data['ROLL_NO'] == inp].R1641051.to_string()
sadp = data.loc[data['ROLL_NO'] == inp].R1641052.to_string()
wt = data.loc[data['ROLL_NO'] == inp].R1641053.to_string()
mefa = data.loc[data['ROLL_NO'] == inp].R1641054.to_string()
bd = data.loc[data['ROLL_NO'] == inp].R164105A.to_string()
cc = data.loc[data['ROLL_NO'] == inp].R164105D.to_string()
sadpl = data.loc[data['ROLL_NO'] == inp].R1641057.to_string()
wtl = data.loc[data['ROLL_NO'] == inp].R1641058.to_string()
rol = rol[6::]
cns = cns[6::]
sadp = sadp[6::]
wt = wt[6::]
mefa  = mefa[6::]
bd = bd[6::]
cc= cc[6::]
sadpl = wtl[6::]
wtl = wtl[6::]
print(f'Roll Number : {rol} \nCRYPTOGRAPHY NETWORK SECURITY : {cns}\nSOFTWARE ARCHITECTURE & DEISGN PATTERNS: {sadp}\nWEB TECHNOLOGIES: {wt}\nMANAGERIAL ECONOMICS AND FINANCIAL ANALYSIS: {mefa}\nBIG DATA ANALYSIS: {bd}\nCLOUD COMPUTING: {cc}\n')

In [ ]:
# Top 10 GPA

topers = sorted(gpa, reverse=True)[:10]
allToppers = []
for toper in topers:
    x=data.loc[data['GPA'] == toper].ROLL_NO.tolist()
    allToppers.append(x)
for rank,person in enumerate(allToppers):
    print()
    print(f'RANK: {rank+1} \n{person}')

In [ ]:
# subtop= []
# for i in range(len(R1641051)):
#     subtop.append(grade_value[R1641051[i]])
# sbt1=sorted(subtop,reverse=True)[:3]
# sbt1
# stb2 = []
# def o():
#   stb2.append('O')
# def s():
#   stb2.append('S')
# def a():
#   stb2.append('A')
# def b():
#   stb2.append('B')
# def c():
#   stb2.append('C')
# def d():
#   stb2.append('D')
# def f():
#   stb2.append('F')
# def numbers_to_strings(i): 
#   switcher = {
#       0:f(), 
#       5:d(),
#       6:c(), 
#       7:b(),
#       8:a(),
#       9:s(),
#       10:o(), 
       
#   }
#   return switcher.get(i, "nothing")

# for i in sbt1:
#    numbers_to_strings(i) 
# stb2

In [40]:
#for roll in rollnumbers : 
#     print(f"STUDENT :: {roll}")
#     print(df.loc[df['Htno'] == roll])
sbt1=sorted(R1641051,reverse=True)[:3]
sbt1
# stb2 = []
# def numbers_to_strings(i): 
#   switcher = {
#       10: stb2.append('O'), 
#       9: stb2.append('S'),
#       8: stb2.append('A'), 
#       7: stb2.append('B'),
#       6: stb2.append('C'),
#       5: stb2.append('D'),
#       0: stb2.append('F'),    
#   }
#   return switcher.get(i, "nothing")

# for i in sbt1:
#    numbers_to_strings(i) 

#   # sbt1=['S','S','A']
# sbt1
# for i in stb2:
#     print(data.loc[data['R1641051'] == i])

[9, 9, 8]