In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r'C:\Users\Venu\Documents\GradeR\results.xlsx')
print(df)

           Htno   Subcode                               Subname Grade  Credits
0    176M1A0501  R1622051                  Software Engineering     F        0
1    176M1A0501  R1622052                      Java Programming     F        0
2    176M1A0501  R1622053              Advanced Data Structures     F        0
3    176M1A0501  R1622054                 Computer Organization     F        0
4    176M1A0501  R1622055  Formal Languages and Automata Theory     F        0
..          ...       ...                                   ...   ...      ...
435  176M1A0560  R1622054                 Computer Organization     B        3
436  176M1A0560  R1622055  Formal Languages and Automata Theory     C        3
437  176M1A0560  R1622056   Principles of Programming Languages     B        3
438  176M1A0560  R1622057         Advanced Data Structures  Lab     O        2
439  176M1A0560  R1622058                 Java Programming  Lab     O        2

[440 rows x 5 columns]

In [4]:
# RollNOS = pd.DataFrame(df, columns= ['Htno'] )
# RollNOS=RollNOS.drop_duplicates()
# RollNOS
rollnumbers = df.Htno.unique()
rollnumbers

array(['176M1A0501', '176M1A0502', '176M1A0503', '176M1A0504',
       '176M1A0505', '176M1A0506', '176M1A0507', '176M1A0508',
       '176M1A0510', '176M1A0511', '176M1A0512', '176M1A0513',
       '176M1A0514', '176M1A0515', '176M1A0516', '176M1A0517',
       '176M1A0518', '176M1A0519', '176M1A0521', '176M1A0522',
       '176M1A0523', '176M1A0524', '176M1A0525', '176M1A0526',
       '176M1A0527', '176M1A0528', '176M1A0529', '176M1A0530',
       '176M1A0531', '176M1A0532', '176M1A0533', '176M1A0535',
       '176M1A0536', '176M1A0537', '176M1A0538', '176M1A0539',
       '176M1A0541', '176M1A0542', '176M1A0543', '176M1A0544',
       '176M1A0545', '176M1A0546', '176M1A0548', '176M1A0549',
       '176M1A0550', '176M1A0551', '176M1A0552', '176M1A0553',
       '176M1A0554', '176M1A0555', '176M1A0556', '176M1A0557',
       '176M1A0558', '176M1A0559', '176M1A0560'], dtype=object)

In [5]:
# df.loc[df['column_name'] == some_value]

In [30]:
def gradeCalc(studentDf,rollNo):
#     print(studentDf)
    Htno = rollNo
    Subcodes = studentDf['Subcode'].tolist()
    Subnames = studentDf['Subname'].tolist()
    Grades = studentDf['Grade'].tolist()
    credits = studentDf['Credits'].tolist()
    print(Htno)
    print(Grades)
    
    

for roll in rollnumbers : 
#     print(f"STUDENT :: {roll}")
#     print(df.loc[df['Htno'] == roll])
    studentDf = df.loc[df['Htno'] == roll]
    gradeCalc(studentDf,roll)

176M1A0501
['F', 'F', 'F', 'F', 'F', 'F', 'S', 'S']
176M1A0502
['F', 'F', 'F', 'F', 'F', 'F', 'B', 'B']
176M1A0503
['C', 'S', 'B', 'B', 'C', 'B', 'O', 'O']
176M1A0504
['F', 'F', 'F', 'F', 'F', 'F', 'B', 'B']
176M1A0505
['A', 'B', 'A', 'A', 'A', 'B', 'O', 'O']
176M1A0506
['B', 'B', 'D', 'B', 'A', 'D', 'S', 'O']
176M1A0507
['C', 'A', 'D', 'D', 'D', 'C', 'O', 'O']
176M1A0508
['F', 'C', 'B', 'B', 'D', 'C', 'O', 'S']
176M1A0510
['F', 'F', 'F', 'F', 'F', 'F', 'S', 'A']
176M1A0511
['D', 'C', 'D', 'D', 'D', 'D', 'S', 'O']
176M1A0512
['C', 'B', 'C', 'C', 'D', 'C', 'S', 'S']
176M1A0513
['ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT']
176M1A0514
['C', 'F', 'C', 'F', 'D', 'D', 'A', 'O']
176M1A0515
['D', 'B', 'D', 'D', 'D', 'D', 'S', 'O']
176M1A0516
['ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT']
176M1A0517
['F', 'C', 'B', 'C', 'F', 'D', 'A', 'S']
176M1A0518
['A', 'B', 'S', 'A', 'B', 'B', 'O', 'O']
176M1A0519
['B', 'B', 'B', 'C', 'D', 'C', 'O', 'O']
176M1A0521
['C', 'B', 'C', 'D', 'D', 'C', 'O', 'S']
176M1A0522
['D', 'C', 'C', 'F', 'D', 'D', 'O', 'S']
176M1A0523
['A', 'C', 'B', 'B', 'C', 'C', 'O', 'O']
176M1A0524
['D', 'D', 'D', 'F', 'D', 'D', 'A', 'S']
176M1A0525
['F', 'F', 'F', 'F', 'F', 'F', 'O', 'S']
176M1A0526
['F', 'F', 'D', 'F', 'F', 'F', 'S', 'S']
176M1A0527
['B', 'B', 'A', 'B', 'A', 'B', 'O', 'O']
176M1A0528
['C', 'B', 'B', 'A', 'C', 'B', 'O', 'O']
176M1A0529
['F', 'F', 'F', 'F', 'F', 'F', 'A', 'A']
176M1A0530
['F', 'D', 'B', 'B', 'D', 'C', 'O', 'O']
176M1A0531
['F', 'F', 'F', 'F', 'F', 'F', 'O', 'A']
176M1A0532
['C', 'A', 'D', 'C', 'C', 'D', 'O', 'O']
176M1A0533
['D', 'D', 'D', 'D', 'D', 'F', 'S', 'S']
176M1A0535
['D', 'D', 'B', 'B', 'C', 'C', 'S', 'O']
176M1A0536
['C', 'B', 'A', 'C', 'D', 'C', 'O', 'O']
176M1A0537
['F', 'F', 'F', 'F', 'F', 'F', 'A', 'A']
176M1A0538
['D', 'B', 'B', 'D', 'D', 'C', 'O', 'O']
176M1A0539
['D', 'A', 'B', 'B', 'C', 'B', 'O', 'O']
176M1A0541
['F', 'F', 'F', 'F', 'F', 'F', 'A', 'A']
176M1A0542
['ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT']
176M1A0543
['C', 'S', 'B', 'B', 'D', 'C', 'O', 'O']
176M1A0544
['C', 'B', 'B', 'C', 'C', 'A', 'O', 'O']
176M1A0545
['C', 'C', 'C', 'C', 'C', 'C', 'S', 'S']
176M1A0546
['D', 'F', 'D', 'D', 'F', 'F', 'A', 'A']
176M1A0548
['D', 'B', 'C', 'D', 'D', 'F', 'S', 'O']
176M1A0549
['D', 'F', 'C', 'F', 'D', 'C', 'S', 'A']
176M1A0550
['D', 'C', 'C', 'F', 'D', 'D', 'S', 'S']
176M1A0551
['B', 'D', 'D', 'C', 'C', 'C', 'S', 'O']
176M1A0552
['C', 'A', 'C', 'D', 'C', 'D', 'S', 'S']
176M1A0553
['D', 'F', 'C', 'C', 'F', 'C', 'S', 'S']
176M1A0554
['B', 'D', 'C', 'B', 'C', 'C', 'S', 'S']
176M1A0555
['D', 'C', 'D', 'F', 'D', 'D', 'O', 'S']
176M1A0556
['D', 'A', 'B', 'C', 'C', 'C', 'O', 'O']
176M1A0557
['B', 'B', 'A', 'B', 'C', 'B', 'O', 'O']
176M1A0558
['C', 'A', 'A', 'C', 'D', 'C', 'O', 'O']
176M1A0559
['ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT', 'ABSENT']
176M1A0560
['C', 'O', 'B', 'B', 'C', 'B', 'O', 'O']

In [8]:
df1

           Htno   Subcode                               Subname Grade  Credits
432  176M1A0560  R1622051                  Software Engineering     C        3
433  176M1A0560  R1622052                      Java Programming     O        3
434  176M1A0560  R1622053              Advanced Data Structures     B        3
435  176M1A0560  R1622054                 Computer Organization     B        3
436  176M1A0560  R1622055  Formal Languages and Automata Theory     C        3
437  176M1A0560  R1622056   Principles of Programming Languages     B        3
438  176M1A0560  R1622057         Advanced Data Structures  Lab     O        2
439  176M1A0560  R1622058                 Java Programming  Lab     O        2