# Pandas DataFrame Part 3

## Multi index and index hierarchy

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])
df

             A         B
G1 1  0.695539  0.580912
   2  1.953760 -0.153853
   3  0.102325  0.454162
G2 1 -0.827829  0.160923
   2 -0.467035 -0.581795
   3  1.275214 -1.033032

In [7]:
df.loc['G1'] #sub DataFrame

          A         B
1  0.695539  0.580912
2  1.953760 -0.153853
3  0.102325  0.454162

In [9]:
df.loc['G1'].loc[1]

A    0.695539
B    0.580912
Name: 1, dtype: float64

In [12]:
#naming index names
df.index.names = ['Groups', 'Num']
df

                   A         B
Groups Num
G1     1    0.695539  0.580912
       2    1.953760 -0.153853
       3    0.102325  0.454162
G2     1   -0.827829  0.160923
       2   -0.467035 -0.581795
       3    1.275214 -1.033032

In [16]:
df.loc['G2'].loc[2]['B']

-0.5817946765751285

In [19]:
#Cross Section : Acessing values of 2 differennt groups(with loc it is tricky)
df.xs(1, level='Num')
# we go 1 column for Num index

               A         B
Groups
G1      0.695539  0.580912
G2     -0.827829  0.160923